extends ./main.layout.pug

block content
  .welcome-section
    section.fullscreen-section.hero
      .container.hero__container
        header.header
          .header__logo
            a.logo(href="") ОК
          .header__menu 
            nav.menu
              ul.menu__list
                - var menuLinks = { "Обо мне": "#about", "Навыки": "#skills", "Работы": "#portfolio", "Отзывы": "#feedback"};
                each value, key in menuLinks 
                  li.menu__item
                    a(href=value).menu__link #{key}
          .header__buttons
            ul.socials
              - var socials = {insta: "https://www.instagram.com/kndgln_", vk: "https://vk.com/id13365622", github: "https://github.com/deikun95" };
              each value, key in socials
                li.socials__item
                  a(href=value).socials__link
                    +icon(key, 'socials__icon')

        .hero__content
          .userinfo
            .userinfo__title Личный сайт #[span.userinfo__occ веб разработчика]
            .userinfo__name Олег Кендигелян
        .hero__downbutton
          .scroll-down
            a(href="#about").scroll-down__btn Скролл

    section.about
      .container
        a(id="about")
        .about__columns
          .about__user
            .user
              .user__avatar
                .user__avatar-wrapper
              .user__about
                - 
                  var userinfo = [
                    ['Проживаю:', "Санкт-Петербург"],
                    ['Возраст:', "25 лет"],
                    ['Родился:', "13 апреля 1995"],
                  ];
                table.user__table
                  each item in userinfo
                    tr
                      td.user__table-title #{item[0]}
                      td.user__table-content #{item[1]}
          .about__user-text
            .about__main-text-content
              .about__desc Привет, меня зовут
              .about__title Олег Кендигелян
              .about__text-info
                p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__ps
              | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

  .triangles.triangles_top
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
      polygon(points="0,100 1000,100 1000,0")
  .middle-section
    section.values
      .container.values__container
        a(id="skills")
        .values__wrapper
          .values__title
            .values__title-container
              .values__title-text Чем я могу быть полезен вам
              .values__content
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          .values__widget
            .values__widget-container
              #skills-component

    section.works
      .container.works__container
        a(id="portfolio")
        .section-title.works__section-title Мои работы
        .works__content
          #slider-component
          //- .works-slider
          //-   .works-slider__pics(data-slide="1")
          //-     .works-slider__pics-content
          //-       +image('content/slider-1.jpg', 'works-slider__fullpic')
          //-       .works-slider__buttons
          //-         a(href="#").works-slider__btn.works-slider__btn_next
          //-         a(href="#").works-slider__btn.works-slider__btn_prev
          //-       ul.works-slider__thumbs
          //-         - for (var i = 3; i > 0; i--)
          //-           li.works-slider__thumb-item(class=`${i === 1 ? 'active' : ''}`)
          //-             a(href="").works-slider__thumb-link
          //-               +image(`content/slider-${i}.jpg`, 'works-slider__thumb')
          //-   .works-slider__data
          //-     ul.works-slider__tags
          //-       - var tags = ['HTML', 'CSS', 'JavaScript'];
          //-       each item in tags
          //-         li.works-slider__tag-item 
          //-           .tag #{item}
          //-     .works-slider__title Сайт школы образования
          //-     .works-slider__desc
          //-       p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          //-     .works-slider__link 
          //-       a(href="").iconed-link Посмотреть сайт

  .triangles.triangles_bottom
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
      polygon(points="0,0 1000,0 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
      polygon(points="0,0 0,100 1000,0")
  section.contacts
    .container.contacts__container
      a(id="feedback")
      .contacts__about
        #reviews-component

  footer.footer
    .container.footer__container
      .footer__copyright
        .footer__copyright-col
          .footer__copyright-year &copy; 2020
        .footer__copyright-userinfo
          .footer__copyright-name Олег Кендигелян
          .footer__data-text Личный сайт веб - разработчика
      .footer__data
        nav.menu.menu--color-white.footer__data-menu
          ul.menu__list
            each value, key in menuLinks 
              li.menu__item
                a(href=value).menu__link #{key}
        .footer__data-content
          .footer__data-col
            .footer__data-text
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__data-socials
              ul.socials.socials--round-borders
                - var socials = {insta: "https://www.instagram.com/kndgln_", vk: "https://vk.com/id13365622", github: "https://github.com/deikun95" };
                  each value, key in socials
                    li.socials__item
                      a(href=value).socials__link
                        +icon(key, 'socials__icon')
          .footer__data-col
            .text-quote
              .text-quote__text
                p Все мы гении. Но если вы будете судить рыбу по её способности взбираться на дерево, она проживёт всю жизнь, считая себя дурой. 
              .text-quote__author Альберт Эйнштейн
